@using BlazorApp1.Data.Services
@using BlazorApp1.Data.Models
@inject NavigationManager _navigationManager


@if (cargos != null)
{
	<table class="table table-my-style my-3 mx-auto" id="supplies-table">
		<thead class="thead-my-style">
			<tr>
				<th class="py-auto" scope="row">#</th>
				<th class="py-auto" scope="row">ФИО</th>
				<th class="py-auto" scope="row">Страна</th>
				<th class="py-auto" scope="row">Заказы</th>
				<th class="py-auto" scope="row">Тариф</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var cargo in cargos)
			{
				<tr>
					<td class="py-auto" scope="row">@cargo.Id</td>
					<td class="py-auto" scope="row">@cargo.Fullname</td>
					<td class="py-auto" scope="row">@cargo.Country</td>
					<td class="py-auto" scope="row">@cargo.Cargos</td>
					<td class="py-auto" scope="row">@cargo.Tariff</td>
				</tr>
			}
		</tbody>
	</table>
}


@code {
		[Inject]
		private ICustomerProvider CustomerProvider { get; set; }
		private List<Customer> cargos = new List<Customer>();

	protected async override Task OnInitializedAsync()
	{
		cargos = await CustomerProvider.GetAll();

	}
}